{% extends "base.html" %}
{% block content %}

<!-- top-area Start -->
<header class="top-area">
  <div class="header-area">


</header><!-- /.top-area-->
<!-- top-area End -->

<!--welcome-hero start -->
<section id="welcome-hero" class="welcome-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          <h2>hi <span>,</span> i am <br> achyutha <br> hebbar <span>.</span>   </h2>
          <p>homeopathic practitioner and web developer</p>

        </div><!--/.header-text-->
      </div><!--/.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--about start -->
<section id="about" class="about">
  <div class="section-heading text-center">
    <h2>about me</h2>
  </div>
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-txt">
            <h3>
              I am a Professional Homeopathic Practitioner and Hobby Web developer. Practicing homeopathic medicine at Hebbar Clinic, Bengaluru since 8 years.
            </h3>
            <p>
              This website contains panchanga based on DrikGanitha Calculations, programmed by Dr.Srinivasa Hebbar, MBBS, M.D(A.M), practicing physician at Hebbar Clinic and hobby Programmer and Jyothishka.
            </p>
            <div class="row">
              <div class="col-sm-3">
                <div class="single-about-add-info">
                  <h3>phone</h3>
                  <p>+918123399398</p>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="single-about-add-info">
                  <h3>email</h3>
                  <p>achyuthahebbar@gmail.com</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>address</h3>
                  <p>Hebbar Clinic, 12/2, 5th A Main Road, Obalappa Garden, Bengaluru - 560028 Karnataka, India</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="single-about-img">
            <img src="{{url_for('static', filename='/images/about/profile_image.jpg')}}" alt="profile_image">
            <div class="about-list-icon">
              <ul>
                <li>
                  <a href="https://www.facebook.com/achyuthahebbar">
                    <i  class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li><!-- / li -->
                <li>
                  <a href="https://www.twitter.com/achyuthahebbar">
                    <i  class="fa fa-twitter" aria-hidden="true"></i>
                  </a>

                </li><!-- / li -->
                <li>
                  <a href="https://www.linkedin.com/in/achyutha-hebbar-7646a8101/">
                    <i  class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </li><!-- / li -->
                <li>
                  <a href="https://www.instagram.com/achyutha_hebbar">
                    <i  class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li><!-- / li -->


              </ul><!-- / ul -->
            </div><!-- /.about-list-icon -->

          </div>

        </div>
      </div>
    </div>
  </div>
</section><!--/.about-->
<!--about end -->


<!--footer-copyright start-->
<footer id="footer-copyright" class="footer-copyright">
  <div class="container">
    <div class="hm-footer-copyright text-center">
      <p>
        &copy; 2020 copyright achyuthaHebbar. design and developed by Dr.Achyutha Hebbar
      </p><!--/p-->
    </div><!--/.text-center-->
  </div><!--/.container-->

  <div id="scroll-Top">
    <div class="return-to-top">
      <i class="fa fa-angle-up " id="scroll-top" ></i>
    </div>

  </div><!--/.scroll-Top-->

    </footer><!--/.footer-copyright-->
<!--footer-copyright end-->

{% endblock %}
