{% extends 'base.html' %}
{% block content %}
<div class="container col-sm-12">
  <div class="jumbotron">
    <h5>List of Available Places</h5>
  </div>
</div>

<div class="container col-sm-12">
  <a href="{{ url_for('add_places') }}" class="btn btn-primary">ADD PLACE</a>
  <a href="{{ url_for('jataka_form') }}" class="btn btn-warning">BACK</a>
  <table border=1>
    <tr>
      <th>Place</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
    {{ table|safe }}
  </table>
  <a href="{{ url_for('add_places') }}" class="btn btn-primary">ADD PLACE</a>
  <a href="{{ url_for('jataka_form') }}" class="btn btn-warning">BACK</a>
</div>
{% endblock %}
